.userdetail-outer{
    width: 365px;
    height: auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 200;
    box-sizing: border-box;
   background: linear-gradient(to top,rgba(2, 0, 35, 0.363),rgba(0, 72, 113, 0.301));
    border-radius: 20px;
    margin:20px auto;
    color: white;
    transition: 0.3s;
    backdrop-filter: blur(20px);
    border: 0.1px solid rgb(58, 57, 57);
    
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    
}

.userdetail-inner{
    margin-top: -60px;
}

.userdetail-outer img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: contain;
    transform: translateY(-70px);
    margin: 0px;
}

.userdetail-inner-2{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.userdetail-inner-2 p:nth-child(1){
    font-size: 18px;
    font-weight: 700;
}

.userdetail-inner-2 p:nth-child(2){
    font-size: 17px;
    color: rgb(219, 219, 219);
}

#back{
    position: absolute;
    top:10px;
    left: 20px;
    color: white;
    background-color: transparent;
    font-size: 20px;
    border: 0px;
    z-index: 3000;
}

#back:hover{
    cursor: pointer;
    text-decoration: underline;
   
}